/AVANCE_3/APLICACION/ProjectSoftwareII/build/
/AVANCE_3/APLICACION/ProjectSoftwareII/dist/
/AVANCE_3/APLICACION/ProjectSoftwareII/nbproject/private/
desktop.ini
/AVANCE_4/APLICACION/ProjectSoftwareII/dist/
/ENTREGA_FINAL/APLICACION/ProjectSoftwareII/dist/
/LIBRERIA/ProjectSoftwareII/build/
/LIBRERIA/ProjectSoftwareII/dist/
/LIBRERIA/ProjectSoftwareII/nbproject/private/
/LIBRERIA/LibreriaProyecto/nbproject/private/
/LIBRERIA/LibreriaProyecto/dist/
/LIBRERIA/LibreriaProyecto/build/
